<head>
  {% if page.redirectDomain %}
  <link rel="canonical" href="http://{{ page.redirectDomain }}{{ page.url }}"/>
  {% endif %}
  <meta charset="utf-8"/>
  <!-- For mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.layout == "home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  {% if page.head %}{{ page.head }}{% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/res/styles.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/res/favicon.jpg">
</head>
